<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  
  <title>Controller-01 | Angular.cz - TODO ke cvičením</title>
  <meta name="author" content="www.angular.cz">
  
  <meta name="description" content="Otevřít cvičení
1. Přidání vazby na controller do šabloně
podívejte se na definici controlleru v app.js
v index.html si všimněte v html tagu definice ">
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:title" content="Controller-01"/>
  <meta property="og:site_name" content="Angular.cz - TODO ke cvičením"/>

  
    <meta property="og:image" content="undefined"/>
  

  <link href="/todo/favicon.png" rel="icon">
  <link rel="alternate" href="/todo/atom.xml" title="Angular.cz - TODO ke cvičením" type="application/atom+xml">
  <link rel="stylesheet" href="/todo/css/style.css" media="screen" type="text/css">
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  

</head>


<body>
  <header id="header" class="inner"><div class="alignleft">
  <h1><a href="/todo/">Angular.cz - TODO ke cvičením</a></h1>
  <h2><a href="/todo/"></a></h2>
</div>
<nav id="main-nav" class="alignright">
  <ul>
    
  </ul>
  <div class="clearfix"></div>
</nav>
<div class="clearfix"></div></header>
  <div id="content" class="inner">
    <div id="main-col" class="alignleft"><div id="wrapper"><article class="page">
  
  <div class="post-content">
    <header>
      
      
  
    <h1 class="title">Controller-01</h1>
  

    </header>
    <div class="entry">
      
        <p><a href="/controller-01" target="_blank">Otevřít cvičení</a></p>
<h3 id="1-_Přidání_vazby_na_controller_do_šabloně">1. Přidání vazby na controller do šabloně</h3><ul>
<li>podívejte se na definici controlleru v app.js</li>
<li>v index.html si všimněte v html tagu definice ng-app</li>
<li>přidejte na element body vazbu na controller pomocí directivy ng-controller</li>
</ul>
   <p><span style="float:right"><a href="#" id="todoCode18_button" onclick="$('#todoCode18').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 1 - přidejte vazbu na controller</span></p><div id="todoCode18" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">body</span> <span class="attribute">ng-controller</span>=<span class="value">"UserController"</span> <span class="attribute">class</span>=<span class="value">"container"</span>&gt;</span></span><br></pre></td></tr></table></figure></div>
<h3 id="2-_Inicializujte_objekt_user_ve_$scope_v_controlleru_v_app-js">2. Inicializujte objekt user ve $scope v controlleru v app.js</h3><ul>
<li>do $scope.user přiřaťte objekt níže</li>
</ul>
  <figure class="highlight plain"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">&#123;&#10;  name: &#39;Petr&#39;,&#10;  surname: &#39;Nov&#225;k&#39;,&#10;  yearOfBirth: 1982&#10;&#125;;</span><br></pre></td></tr></table></figure>
  <p><span style="float:right"><a href="#" id="todoCode38_button" onclick="$('#todoCode38').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 2 - inicializujte objekt user ve $scope</span></p><div id="todoCode38" style="display:none"><figure class="highlight javascript"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br><span class="line">4</span><br><span class="line">5</span><br></pre></td><td class="code"><pre><span class="line">$scope.user = &#123;</span><br><span class="line">  name: <span class="string">'Petr'</span>,</span><br><span class="line">  surname: <span class="string">'Novák'</span>,</span><br><span class="line">  yearOfBirth: <span class="number">1982</span></span><br><span class="line">&#125;;</span><br></pre></td></tr></table></figure></div>
<h3 id="3-_Napojte_formulářové_prvky_na_scope">3. Napojte formulářové prvky na scope</h3><ul>
<li>připojte jednotlivé attributy objektu user na formulářové prvky input pomocí directivy ng-model</li>
</ul>
   <p><span style="float:right"><a href="#" id="todoCode57_button" onclick="$('#todoCode57').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 3 - přidejte vazbu na objekt user</span></p><div id="todoCode57" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">input</span> <span class="attribute">id</span>=<span class="value">"userName"</span>    <span class="attribute">ng-model</span>=<span class="value">"user.name"</span>        <span class="attribute">class</span>=<span class="value">"form-control"</span>&gt;</span></span><br><span class="line"><span class="tag">&lt;<span class="title">input</span> <span class="attribute">id</span>=<span class="value">"userSurname"</span> <span class="attribute">ng-model</span>=<span class="value">"user.surname"</span>     <span class="attribute">class</span>=<span class="value">"form-control"</span>&gt;</span></span><br><span class="line"><span class="tag">&lt;<span class="title">input</span> <span class="attribute">id</span>=<span class="value">"yearOfBirth"</span> <span class="attribute">ng-model</span>=<span class="value">"user.yearOfBirth"</span> <span class="attribute">class</span>=<span class="value">"form-control"</span> <span class="attribute">type</span>=<span class="value">"number"</span>&gt;</span></span><br></pre></td></tr></table></figure></div>
<ul>
<li>pravý panel s výpisem již obsahuje výrazy</li>
<li>vyzkoušejte tedy, že funguje dvoucestný databinding</li>
</ul>
<h3 id="4-_V_controlleru_přiřaďte_již_definovanou_funkci_getAge_na_$scope">4. V controlleru přiřaďte již definovanou funkci getAge na $scope</h3><p><span style="float:right"><a href="#" id="todoCode75_button" onclick="$('#todoCode75').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 4 - přiřaďte funkci getage do $scope</span></p><div id="todoCode75" style="display:none"><figure class="highlight javascript"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br><span class="line">4</span><br></pre></td><td class="code"><pre><span class="line">$scope.getAge = <span class="function"><span class="keyword">function</span> (<span class="params"></span>) </span>&#123;</span><br><span class="line">  <span class="keyword">var</span> now = <span class="keyword">new</span> <span class="built_in">Date</span>();</span><br><span class="line">  <span class="keyword">return</span> now.getFullYear() - $scope.user.yearOfBirth;</span><br><span class="line">&#125;;</span><br></pre></td></tr></table></figure></div>
<ul>
<li>metoda je v šabloně už použita</li>
<li>vyzkoušejte tedy, jak se nyní aplikace chová</li>
</ul>

      
    </div>
    <!--<footer>-->
      <!---->
        <!---->
        <!---->
        <!---->
      <!---->
      <!--<div class="clearfix"></div>-->
    <!--</footer>-->
  </div>
</article>

<!--
<section id="comment">
  <h1 class="title">Комментарии</h1>

  
      <div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=123456789012345";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-comments" data-href="http://yoursite.com/todo/controller-01/index.html" data-num-posts="5" data-width="840" data-colorscheme="light"></div>
      
  
</section>
-->
</div></div>
    <aside id="sidebar" class="alignright">
  <ul>
  
</ul>


<div class="widget tag">
  <h3 class="title">Cvičení</h3>
  <ul class="entry">
    
    <li><a href="/todo/javascript-01/">javascript-01</a></li>
    
    <li><a href="/todo/templates-01/">templates-01</a></li>
    
    <li><a href="/todo/templates-02/">templates-02</a></li>
    
    <li><a href="/todo/controller-01/">controller-01</a></li>
    
    <li><a href="/todo/controller-02/">controller-02</a></li>
    
    <li><a href="/todo/scope-01/">scope-01</a></li>
    
    <li><a href="/todo/controller-03/">controller-03</a></li>
    
    <li><a href="/todo/di-01/">di-01</a></li>
    
    <li><a href="/todo/di-01-unitTesting/">di-01-unitTesting</a></li>
    
    <li><a href="/todo/di-02/">di-02</a></li>
    
    <li><a href="/todo/directive-01/">directive-01</a></li>
    
    <li><a href="/todo/directive-02/">directive-02</a></li>
    
    <li><a href="/todo/directive-03/">directive-03</a></li>
    
    <li><a href="/todo/directive-04/">directive-04</a></li>
    
    <li><a href="/todo/filter-01/">filter-01</a></li>
    
    <li><a href="/todo/filter-02/">filter-02</a></li>
    
    <li><a href="/todo/form-01/">form-01</a></li>
    
    <li><a href="/todo/router-01/">router-01</a></li>
    
    <li><a href="/todo/resource-01/">resource-01</a></li>
    
    <li><a href="/todo/animate-01/">animate-01</a></li>
    
    <li><a href="/todo/auth-01/">auth-01</a></li>
    
    <li><a href="/todo/auth-02/">auth-02</a></li>
    
  </ul>
</div>


</aside>
    <div class="clearfix"></div>
  </div>
  <footer id="footer" class="inner"><div class="alignleft">
  
  &copy; 2015 www.angular.cz
  
</div>
<div class="clearfix"></div></footer>
  <script src="/todo/js/jquery.min.js"></script>
<script src="/todo/js/jquery.imagesloaded.min.js"></script>
<script src="/todo/js/gallery.js"></script>




<link rel="stylesheet" href="/todo/fancybox/jquery.fancybox.css" media="screen" type="text/css">
<script src="/todo/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
(function($){
  $('.fancybox').fancybox();
})(jQuery);
</script>

</body>
</html>