<!DOCTYPE html>
<html ng-app="directiveApp">
<head>
  <meta charset="utf-8">
  <title>Directive - 03 | Angular.cz</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }

    .btn.active, .btn.active:focus {
      color: #fff;
      background-color: #5bc0de;
      border-color: #46b8da;
    }

    .btn.active:hover {
      color: #fff;
      background-color: #31b0d5;
      border-color: #269abc;
    }
  </style>
</head>
<body ng-cloak>
<div class="container col-md-offset-3 col-md-6" ng-controller="InfoController as info">
  <h2>Informace</h2>

  <div class="well">
      <!-- TODO 2.1 - použijte direktivu tabset -->
      <tab header="O nás">
        Naše kancelář se zabývá prodejem a pronájmem bytů, domů či komerčních prostor, prodejem pozemků i developerských
        projektů již přes 15 let. Na trhu působíme od roku 1997 a vznikli jsme jako ryze česká společnost bez
        zahraničního či úvěrového kapitálu.
      </tab>
      <tab header="Reference">
        <p>Česká národní banka využila opakovaně v letech 2012 a 2013 služeb Vaší realitní kanceláře, pobočky Praha, a
          to v oblasti pronájmu bytů v majetku ČNB. </p>
      </tab>
      <tab header="Kontakty">
        V případě, že nás budete chtít navštívit v kancelářích přímo v centru Prahy, objednejte se prosím nejdříve
        telefonicky, aby se Vám mohl plně věnovat konkrétní manažer. Pro naše klienty máme připraveno parkování v
        podzemní garáži.
      </tab>
  </div>
  <div class="well" ng-if="info.currentTabHeader">Vybraný tab: {{info.currentTabHeader}}</div>
</div>

<script src="/bower_components/angular/angular.js"></script>
<script src="app.js"></script>
</body>
</html>