<div>
  <div class="btn-group">
    <!-- TODO 4 - doplňte tlačítka -->
    <button
            type="button"
            ng-class="{active : tab.active}"
            ng-click="tabset.select(tab)"
            class="btn btn-default">
      &nbsp;{{tab.header}}&nbsp;
    </button>
  </div>
  <hr/>

  <ng-transclude></ng-transclude>
</div>