<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  
  <title>Animate-01 | Angular.cz - TODO ke cvičením</title>
  <meta name="author" content="www.angular.cz">
  
  <meta name="description" content="Otevřít cvičení
Pro ukázku funkce animací je použit app_slow.css se zpomalenými animacemi.Při přehrávání animací si všimněte, jak angular mění css tří">
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:title" content="Animate-01"/>
  <meta property="og:site_name" content="Angular.cz - TODO ke cvičením"/>

  
    <meta property="og:image" content="undefined"/>
  

  <link href="/todo/favicon.png" rel="icon">
  <link rel="alternate" href="/todo/atom.xml" title="Angular.cz - TODO ke cvičením" type="application/atom+xml">
  <link rel="stylesheet" href="/todo/css/style.css" media="screen" type="text/css">
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  

</head>


<body>
  <header id="header" class="inner"><div class="alignleft">
  <h1><a href="/todo/">Angular.cz - TODO ke cvičením</a></h1>
  <h2><a href="/todo/"></a></h2>
</div>
<nav id="main-nav" class="alignright">
  <ul>
    
  </ul>
  <div class="clearfix"></div>
</nav>
<div class="clearfix"></div></header>
  <div id="content" class="inner">
    <div id="main-col" class="alignleft"><div id="wrapper"><article class="page">
  
  <div class="post-content">
    <header>
      
      
  
    <h1 class="title">Animate-01</h1>
  

    </header>
    <div class="entry">
      
        <p><a href="/animate-01" target="_blank">Otevřít cvičení</a></p>
<p>Pro ukázku funkce animací je použit app_slow.css se zpomalenými animacemi.<br>Při přehrávání animací si všimněte, jak angular mění css třídy</p>
<h3 id="1-_ng-if">1. ng-if</h3><ul>
<li>podívejte se na css .type</li>
<li>využívá app.css a má definovány jen vstupní události </li>
<li>použijte třídu .type na oba bloky ng-if</li>
<li>kód najdete v reality.html</li>
<li>vyzkoušejte změnu typu pozemku</li>
</ul>
<h3 id="2-_ng-repeat">2. ng-repeat</h3><ul>
<li>podívejte se na css .cities</li>
<li>použijte třídu .cities na element s ng-repeat</li>
<li>zkuste hledání lokalit</li>
</ul>
<h3 id="3-_ng-switch_jako_slider">3. ng-switch jako slider</h3><ul>
<li>podívejte se na css .information</li>
<li>použijte třídu .information na elementy ng-switch-when</li>
<li>vyzkoušejte jak se chová navigace ve slideru</li>
</ul>
<h3 id="4-_ng-class">4. ng-class</h3><ul>
<li>podívejte se na css .btn-animated-info</li>
<li>nahraďte třídu .btn-info za btn-animated-info u tlačítek nad sliderem</li>
</ul>
<h3 id="5-_ng-form">5. ng-form</h3><ul>
<li>podívejte se na css .validForm, které definují vzhled pro ng-invalid</li>
<li>přidejte třídu .validForm na oba elementy s třídou form-inline, nebo na nadřazený element v reality.html</li>
<li>vyzkoušejte zadání nečíselné hodnoty do rozlohy pozemku</li>
</ul>
<h3 id="6-_ng-view">6. ng-view</h3><ul>
<li>podívejte se na css .page</li>
<li>použijte třídu .page na ng-view v index.html</li>
<li>vyzkoušejte stisk tlačítka odeslat a poté akce zpět a vpřed v prohlížeči</li>
</ul>
<h3 id="7-_Změňte_css_z_app_slow-css_na_app-css">7. Změňte css z app_slow.css na app.css</h3>
      
    </div>
    <!--<footer>-->
      <!---->
        <!---->
        <!---->
        <!---->
      <!---->
      <!--<div class="clearfix"></div>-->
    <!--</footer>-->
  </div>
</article>

<!--
<section id="comment">
  <h1 class="title">Комментарии</h1>

  
      <div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=123456789012345";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-comments" data-href="http://yoursite.com/todo/animate-01/index.html" data-num-posts="5" data-width="840" data-colorscheme="light"></div>
      
  
</section>
-->
</div></div>
    <aside id="sidebar" class="alignright">
  <ul>
  
</ul>


<div class="widget tag">
  <h3 class="title">Cvičení</h3>
  <ul class="entry">
    
    <li><a href="/todo/javascript-01/">javascript-01</a></li>
    
    <li><a href="/todo/templates-01/">templates-01</a></li>
    
    <li><a href="/todo/templates-02/">templates-02</a></li>
    
    <li><a href="/todo/controller-01/">controller-01</a></li>
    
    <li><a href="/todo/controller-02/">controller-02</a></li>
    
    <li><a href="/todo/scope-01/">scope-01</a></li>
    
    <li><a href="/todo/controller-03/">controller-03</a></li>
    
    <li><a href="/todo/di-01/">di-01</a></li>
    
    <li><a href="/todo/di-01-unitTesting/">di-01-unitTesting</a></li>
    
    <li><a href="/todo/di-02/">di-02</a></li>
    
    <li><a href="/todo/directive-01/">directive-01</a></li>
    
    <li><a href="/todo/directive-02/">directive-02</a></li>
    
    <li><a href="/todo/directive-03/">directive-03</a></li>
    
    <li><a href="/todo/directive-04/">directive-04</a></li>
    
    <li><a href="/todo/filter-01/">filter-01</a></li>
    
    <li><a href="/todo/filter-02/">filter-02</a></li>
    
    <li><a href="/todo/form-01/">form-01</a></li>
    
    <li><a href="/todo/router-01/">router-01</a></li>
    
    <li><a href="/todo/resource-01/">resource-01</a></li>
    
    <li><a href="/todo/animate-01/">animate-01</a></li>
    
    <li><a href="/todo/auth-01/">auth-01</a></li>
    
    <li><a href="/todo/auth-02/">auth-02</a></li>
    
  </ul>
</div>


</aside>
    <div class="clearfix"></div>
  </div>
  <footer id="footer" class="inner"><div class="alignleft">
  
  &copy; 2015 www.angular.cz
  
</div>
<div class="clearfix"></div></footer>
  <script src="/todo/js/jquery.min.js"></script>
<script src="/todo/js/jquery.imagesloaded.min.js"></script>
<script src="/todo/js/gallery.js"></script>




<link rel="stylesheet" href="/todo/fancybox/jquery.fancybox.css" media="screen" type="text/css">
<script src="/todo/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
(function($){
  $('.fancybox').fancybox();
})(jQuery);
</script>

</body>
</html>