<!DOCTYPE html>
<html ng-app="FormApp" ng-cloak>
  <head>
    <title>form-01 | Angular.cz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="container" ng-controller="UserDetailController as detail">
    <div class="row">
      <div class="col-md-4">
        <form novalidate name="userForm" ng-submit="detail.save(userForm)">
          <fieldset >
            <legend>Edit user</legend>
            <div class="form-group">
              <label for="name" >Your Full Name*: </label>
              <input class="form-control" type="text" name="name" id="name" ng-model="detail.user.name" required/>
              <div ng-if="(userForm.name.$touched || userForm.$submitted) && userForm.name.$invalid"
                   class="text-danger">
                You did not enter a name
              </div>
            </div>
            <div class="form-group">
              <label for="email" >Email Address*:</label>
              <input class="form-control" type="email" name="email" id="email" ng-model="detail.user.email" required/>
              <div ng-messages="userForm.email.$error"
                   ng-show="userForm.email.$touched || userForm.$submitted"
                   class="text-danger">
                <div ng-message="required">You did not enter a email</div>
                <div ng-message="email">Your email is not valid</div>
              </div>
            </div>
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input class="form-control" type="text" name="phone" id="phone" validate-czech-phone-number ng-model="detail.user.phone" />
              <div ng-if="(userForm.phone.$touched || userForm.$submitted) && userForm.phone.$error.czechPhoneNumber"
                   class="text-danger">
                Use format +420 123 456 789
              </div>
            </div>
            <fieldset >
              <legend>Address</legend>
              <div class="form-group">
                <label for="city" >City: </label>
                <input class="form-control" type="text" id="city"
                       ng-model="detail.user.address.city"
                       ng-model-options="{ updateOn: 'blur'}" />
              </div>
              <div class="form-group">
                <label for="street" >Street: </label>
                <input class="form-control" type="text" id="street" ng-model="detail.user.address.street" />
              </div>
              <div class="form-group">
                <label for="postalCode" >Postal code: </label>
                <input class="form-control" type="text" id="postalCode" ng-model="detail.user.address.postalCode" />
              </div>
            </fieldset>

            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-warning" ng-disabled="userForm.$pristine" ng-click="detail.reset(userForm)">Reset</button>
            <button type="button" class="btn btn-danger" ng-click="detail.clear(userForm)">Clear Storage</button>
          </fieldset>
        </form> 

      </div>
      <div class="col-md-5 col-md-offset-1">
        <pre>
this.user
{{detail.user|json}}

storage:
{{detail.userStorage.get() | json}}
        </pre>
      </div>
    </div>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/ngstorage/ngStorage.js"></script>

    <script src="app.js"></script>
  </body>
</html>
