<!DOCTYPE html>
<html lang="en" ng-app="moduleExample">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Controller, scope | Angular.cz</title>

  <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

  <script src="/bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
</head>
<body class="container">
<div class="row" ng-controller="UserController as ctrl">

  <div class="col-md-offset-1 col-md-4 well">
    <label for="userName">Jméno</label>
    <input id="userName" class="form-control" ng-model="ctrl.user.name">
    <label for="userSurname">Příjmení</label>
    <input id="userSurname" class="form-control" ng-model="ctrl.user.surname">
    <label for="yearOfBirth">Rok narození</label>
    <input id="yearOfBirth" class="form-control" type="number" ng-model="ctrl.user.yearOfBirth">
  </div>

  <div class="col-md-offset-1 col-md-5 well">
    Jméno: {{::ctrl.user.name}}<br/>
    Příjmení: {{ctrl.user.surname}}<br/>
    Věk: {{ctrl.getAge()}}<br/>
  </div>
</div>

<div ng-controller="CountController as countCtrl" class="well col-md-12">
  Počet změn yearOfBirth: {{countCtrl.count}}
</div>

</body>
</html>