<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  
  <title>Scope-01 | Angular.cz - TODO ke cvičením</title>
  <meta name="author" content="www.angular.cz">
  
  <meta name="description" content="Otevřít cvičení
Vyzkoušíte si, jak Angular vyhodnocuje výrazy.
1. Vyzkoušejte, funkčnost databindingu a aktualizace všech atributů
Podívejte se na def">
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:title" content="Scope-01"/>
  <meta property="og:site_name" content="Angular.cz - TODO ke cvičením"/>

  
    <meta property="og:image" content="undefined"/>
  

  <link href="/todo/favicon.png" rel="icon">
  <link rel="alternate" href="/todo/atom.xml" title="Angular.cz - TODO ke cvičením" type="application/atom+xml">
  <link rel="stylesheet" href="/todo/css/style.css" media="screen" type="text/css">
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  

</head>


<body>
  <header id="header" class="inner"><div class="alignleft">
  <h1><a href="/todo/">Angular.cz - TODO ke cvičením</a></h1>
  <h2><a href="/todo/"></a></h2>
</div>
<nav id="main-nav" class="alignright">
  <ul>
    
  </ul>
  <div class="clearfix"></div>
</nav>
<div class="clearfix"></div></header>
  <div id="content" class="inner">
    <div id="main-col" class="alignleft"><div id="wrapper"><article class="page">
  
  <div class="post-content">
    <header>
      
      
  
    <h1 class="title">Scope-01</h1>
  

    </header>
    <div class="entry">
      
        <p><a href="/scope-01" target="_blank">Otevřít cvičení</a></p>
<p>Vyzkoušíte si, jak Angular vyhodnocuje výrazy.</p>
<h3 id="1-_Vyzkoušejte,_funkčnost_databindingu_a_aktualizace_všech_atributů">1. Vyzkoušejte, funkčnost databindingu a aktualizace všech atributů</h3><ul>
<li>Podívejte se na definici controlleru v app.js a použití v index.html</li>
</ul>
<h3 id="2-_V_metodě_getAge_v_kontrolleru_odkomentujte_console-log">2. V metodě getAge v kontrolleru odkomentujte console.log</h3><ul>
<li><p>sledujte, kolikrát je metoda volána při změně jednotlivých atributů.</p>
</li>
<li><p>vyzkoušejte změnu jména a poté změnu věku</p>
</li>
<li>proč je tomu tak? Vzpomeňte si na povídání o principu dirty checkingu</li>
</ul>
<h3 id="3-_Použijte_v_index-html_pro_výpis_jména_a_věku_one-time_binding,_sledujte_změnu_chování">3. Použijte v index.html pro výpis jména a věku one-time binding, sledujte změnu chování</h3>  <p><span style="float:right"><a href="#" id="todoCode3_button" onclick="$('#todoCode3').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 3 - doplňte one-time binding</span></p><div id="todoCode3" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br></pre></td><td class="code"><pre><span class="line">Jméno: &#123;&#123;::ctrl.user.name&#125;&#125;</span><br><span class="line">Věk: &#123;&#123;ctrl.getAge()&#125;&#125;</span><br></pre></td></tr></table></figure></div>
<h3 id="4-_Sledujte_změny_yearOfBirth">4. Sledujte změny yearOfBirth</h3><ul>
<li>do controlleru <strong>UserController</strong> přidejte na scope watch, který při změně <strong>yearOfBirth</strong> zaloguje novou a starou hodnotu do console</li>
<li>expression bude vypadat stejně jako expression použitá v ng-model v šabloně</li>
</ul>
<p><span style="float:right"><a href="#" id="todoCode23_button" onclick="$('#todoCode23').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 4.1 - napište watch sledující změnu yearOfBirth</span></p><div id="todoCode23" style="display:none"><figure class="highlight javascript"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br></pre></td><td class="code"><pre><span class="line">$scope.$watch(<span class="string">'ctrl.user.yearOfBirth'</span>, <span class="function"><span class="keyword">function</span>(<span class="params">newValue, oldValue</span>) </span>&#123;</span><br><span class="line">  <span class="built_in">console</span>.log(<span class="string">'Year of birth has changed:'</span>, newValue, oldValue)</span><br><span class="line">&#125;);</span><br></pre></td></tr></table></figure></div>
<ul>
<li>tato podoba expression pro watch není příliš dobrá, protože je závislá na pojmenování controlleru v šabloně.</li>
<li>vyměňte string s expression za funkci vracející <strong>this.user.yearOfBirth</strong>, nezapomeňte přitom na bind(this)</li>
</ul>
<p><span style="float:right"><a href="#" id="todoCode43_button" onclick="$('#todoCode43').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 4.1 - napište watch sledující změnu yearOfBirth</span></p><div id="todoCode43" style="display:none"><figure class="highlight javascript"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br><span class="line">4</span><br><span class="line">5</span><br><span class="line">6</span><br><span class="line">7</span><br></pre></td><td class="code"><pre><span class="line"><span class="keyword">var</span> getYearWatcher_ = <span class="function"><span class="keyword">function</span>(<span class="params"></span>) </span>&#123;</span><br><span class="line">   <span class="keyword">return</span> <span class="keyword">this</span>.user.yearOfBirth;</span><br><span class="line"> &#125;.bind(<span class="keyword">this</span>);</span><br><span class="line"></span><br><span class="line">$scope.$watch(getYearWatcher, <span class="function"><span class="keyword">function</span>(<span class="params">newValue, oldValue</span>) </span>&#123;</span><br><span class="line">  <span class="built_in">console</span>.log(<span class="string">'Year of birth has changed:'</span>, newValue, oldValue)</span><br><span class="line">&#125;);</span><br></pre></td></tr></table></figure></div>
<h3 id="5_-_Posílání_zpráv">5 - Posílání zpráv</h3><ul>
<li>při změně yearOfBirth odešlete na <strong>$scope</strong> zprávu <strong>yearOfBirth:changed</strong></li>
</ul>
<p><span style="float:right"><a href="#" id="todoCode62_button" onclick="$('#todoCode62').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 5.1 - vyšlete zprávu yearOfBirth:changed</span></p><div id="todoCode62" style="display:none"><figure class="highlight javascript"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br><span class="line">4</span><br></pre></td><td class="code"><pre><span class="line">$scope.$watch(getYearWatcher, <span class="function"><span class="keyword">function</span>(<span class="params">newValue, oldValue</span>) </span>&#123;</span><br><span class="line">  <span class="built_in">console</span>.log(<span class="string">'Year of birth has changed:'</span>, newValue, oldValue)</span><br><span class="line">  $scope.$broadcast(<span class="string">"yearOfBirth:changed"</span>);</span><br><span class="line">&#125;);</span><br></pre></td></tr></table></figure></div>
<ul>
<li>v <strong>CountControlleru</strong> tuto zprávu na <strong>$scope</strong> poslouchete a navyšte this.count</li>
</ul>
<p><span style="float:right"><a href="#" id="todoCode79_button" onclick="$('#todoCode79').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 5.2 - poslouchejte zprávu yearOfBirth:changed</span></p><div id="todoCode79" style="display:none"><figure class="highlight javascript"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br><span class="line">4</span><br></pre></td><td class="code"><pre><span class="line">$scope.$on(<span class="string">"yearOfBirth:changed"</span>, <span class="function"><span class="keyword">function</span>(<span class="params">event, data</span>) </span>&#123;</span><br><span class="line">  <span class="built_in">console</span>.log(<span class="string">"yearOfBirth:changed"</span>);</span><br><span class="line">  <span class="keyword">this</span>.count++;</span><br><span class="line">&#125;.bind(<span class="keyword">this</span>));</span><br></pre></td></tr></table></figure></div>
<ul>
<li>zkontrolujte, že se změna yearOfBirth projevuje navýšením čísla v gui</li>
</ul>
<h3 id="6_-_Posílání_zpráv_-_$rootScope">6 - Posílání zpráv - $rootScope</h3><ul>
<li>zpráva se přes <strong>$scope</strong> šíří, od <strong>UserControlleru</strong> k <strong>CountControlleru</strong> protože jsou v hierarchii.</li>
<li>zkuste v šabloně přesunout blok s <strong>CountControllerem</strong> vně bloku s <strong>UserControllerem</strong></li>
<li>podívejte se, že zpráva se už nepropaguje</li>
<li><p>aby se propagovala i v tomto případě, posílejte ji místo na <strong>$scope</strong> na na <strong>$rootScope</strong></p>
<p><span style="float:right"><a href="#" id="todoCode93_button" onclick="$('#todoCode93').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">6.2 - odesílejte zprávu na $rootScope</span></p><div id="todoCode93" style="display:none"><figure class="highlight javascript"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">$rootScope.$broadcast(<span class="string">"yearOfBirth:changed"</span>);</span><br></pre></td></tr></table></figure></div>
</li>
</ul>

      
    </div>
    <!--<footer>-->
      <!---->
        <!---->
        <!---->
        <!---->
      <!---->
      <!--<div class="clearfix"></div>-->
    <!--</footer>-->
  </div>
</article>

<!--
<section id="comment">
  <h1 class="title">Комментарии</h1>

  
      <div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=123456789012345";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-comments" data-href="http://yoursite.com/todo/scope-01/index.html" data-num-posts="5" data-width="840" data-colorscheme="light"></div>
      
  
</section>
-->
</div></div>
    <aside id="sidebar" class="alignright">
  <ul>
  
</ul>


<div class="widget tag">
  <h3 class="title">Cvičení</h3>
  <ul class="entry">
    
    <li><a href="/todo/javascript-01/">javascript-01</a></li>
    
    <li><a href="/todo/templates-01/">templates-01</a></li>
    
    <li><a href="/todo/templates-02/">templates-02</a></li>
    
    <li><a href="/todo/controller-01/">controller-01</a></li>
    
    <li><a href="/todo/controller-02/">controller-02</a></li>
    
    <li><a href="/todo/scope-01/">scope-01</a></li>
    
    <li><a href="/todo/controller-03/">controller-03</a></li>
    
    <li><a href="/todo/di-01/">di-01</a></li>
    
    <li><a href="/todo/di-01-unitTesting/">di-01-unitTesting</a></li>
    
    <li><a href="/todo/di-02/">di-02</a></li>
    
    <li><a href="/todo/directive-01/">directive-01</a></li>
    
    <li><a href="/todo/directive-02/">directive-02</a></li>
    
    <li><a href="/todo/directive-03/">directive-03</a></li>
    
    <li><a href="/todo/directive-04/">directive-04</a></li>
    
    <li><a href="/todo/filter-01/">filter-01</a></li>
    
    <li><a href="/todo/filter-02/">filter-02</a></li>
    
    <li><a href="/todo/form-01/">form-01</a></li>
    
    <li><a href="/todo/router-01/">router-01</a></li>
    
    <li><a href="/todo/resource-01/">resource-01</a></li>
    
    <li><a href="/todo/animate-01/">animate-01</a></li>
    
    <li><a href="/todo/auth-01/">auth-01</a></li>
    
    <li><a href="/todo/auth-02/">auth-02</a></li>
    
  </ul>
</div>


</aside>
    <div class="clearfix"></div>
  </div>
  <footer id="footer" class="inner"><div class="alignleft">
  
  &copy; 2015 www.angular.cz
  
</div>
<div class="clearfix"></div></footer>
  <script src="/todo/js/jquery.min.js"></script>
<script src="/todo/js/jquery.imagesloaded.min.js"></script>
<script src="/todo/js/gallery.js"></script>




<link rel="stylesheet" href="/todo/fancybox/jquery.fancybox.css" media="screen" type="text/css">
<script src="/todo/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
(function($){
  $('.fancybox').fancybox();
})(jQuery);
</script>

</body>
</html>