<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  
  <title>Directive-03 | Angular.cz - TODO ke cvičením</title>
  <meta name="author" content="www.angular.cz">
  
  <meta name="description" content="Otevřít cvičení
V directive-01 jsme řešili taby pomocí switche a metod v controlleru, nyní tento příklad převedeme na direktivy.Cílem bude dokončit di">
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:title" content="Directive-03"/>
  <meta property="og:site_name" content="Angular.cz - TODO ke cvičením"/>

  
    <meta property="og:image" content="undefined"/>
  

  <link href="/todo/favicon.png" rel="icon">
  <link rel="alternate" href="/todo/atom.xml" title="Angular.cz - TODO ke cvičením" type="application/atom+xml">
  <link rel="stylesheet" href="/todo/css/style.css" media="screen" type="text/css">
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  

</head>


<body>
  <header id="header" class="inner"><div class="alignleft">
  <h1><a href="/todo/">Angular.cz - TODO ke cvičením</a></h1>
  <h2><a href="/todo/"></a></h2>
</div>
<nav id="main-nav" class="alignright">
  <ul>
    
  </ul>
  <div class="clearfix"></div>
</nav>
<div class="clearfix"></div></header>
  <div id="content" class="inner">
    <div id="main-col" class="alignleft"><div id="wrapper"><article class="page">
  
  <div class="post-content">
    <header>
      
      
  
    <h1 class="title">Directive-03</h1>
  

    </header>
    <div class="entry">
      
        <p><a href="/directive-03" target="_blank">Otevřít cvičení</a></p>
<p>V directive-01 jsme řešili taby pomocí switche a metod v controlleru, nyní tento příklad převedeme na direktivy.<br>Cílem bude dokončit direktivu představující tabset, která umí zobrazovat své taby, stará se o zobrazení odkazů a přepínání tabů.<br>Poté dokončit druhou, která představuje samotný tab a dává o sobě vědět nadřazenému tabsetu.</p>
<h3 id="1-_Direktiva_tab">1. Direktiva tab</h3><ul>
<li>podívejte se, jak je direktiva <strong>tab</strong> použita v šabloně <strong>index.html</strong>, má přiřazen nadpis a obklopuje obsah tabu</li>
<li><p>výsledkem je však pouze zobrazení nadpisů tabů</p>
</li>
<li><p>přidejte tedy podporu transkluze do definičního objektu direktivy</p>
</li>
</ul>
<p><span style="float:right"><a href="#" id="todoCode1_button" onclick="$('#todoCode1').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 1.1 - doplňte atribut pro transkluzi</span></p><div id="todoCode1" style="display:none"><figure class="highlight javascript"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br><span class="line">4</span><br></pre></td><td class="code"><pre><span class="line">.directive(<span class="string">'tab'</span>, <span class="function"><span class="keyword">function</span> <span class="title">tabDirective</span>(<span class="params"></span>) </span>&#123;</span><br><span class="line">  <span class="keyword">return</span> &#123;</span><br><span class="line">    transclude: <span class="literal">true</span>,</span><br><span class="line">    ...</span><br></pre></td></tr></table></figure></div>
<ul>
<li>v šabloně <strong>tab.html</strong> určete místo pro vložení obsahu</li>
</ul>
 <p><span style="float:right"><a href="#" id="todoCode22_button" onclick="$('#todoCode22').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 1.2 - doplňte direktivu pro transkluzi</span></p><div id="todoCode22" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br><span class="line">4</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">ng-if</span>=<span class="value">"active"</span>&gt;</span></span><br><span class="line">  <span class="tag">&lt;<span class="title">h4</span>&gt;</span>&#123;&#123;header&#125;&#125;<span class="tag">&lt;/<span class="title">h4</span>&gt;</span></span><br><span class="line">  <span class="tag">&lt;<span class="title">ng-transclude</span>&gt;</span><span class="tag">&lt;/<span class="title">ng-transclude</span>&gt;</span></span><br><span class="line"><span class="tag">&lt;/<span class="title">div</span>&gt;</span></span><br></pre></td></tr></table></figure></div>
<h3 id="2-_Direktiva_tabset">2. Direktiva tabset</h3><ul>
<li>direktiva tabset je již předpřipravená, použijte ji v <strong>index.html</strong> tak, aby obklopovala jednotlivé taby</li>
</ul>
 <p><span style="float:right"><a href="#" id="todoCode42_button" onclick="$('#todoCode42').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 2.1 - použijte direktivu tabset</span></p><div id="todoCode42" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br><span class="line">4</span><br><span class="line">5</span><br><span class="line">6</span><br><span class="line">7</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">tabset</span>&gt;</span></span><br><span class="line">  <span class="tag">&lt;<span class="title">tab</span> <span class="attribute">header</span>=<span class="value">"O nás"</span>&gt;</span></span><br><span class="line">    ...</span><br><span class="line">  <span class="tag">&lt;/<span class="title">tab</span>&gt;</span></span><br><span class="line">  ...</span><br><span class="line">  </span><br><span class="line"><span class="tag">&lt;/<span class="title">tabset</span>&gt;</span></span><br></pre></td></tr></table></figure></div>
<ul>
<li>přidejte do definičního objektu direktivy předpřipravený controller <strong>tabsetDirectiveController</strong></li>
<li>pojmenujte controller pro šablonu <strong>tabset</strong></li>
</ul>
<p><span style="float:right"><a href="#" id="todoCode61_button" onclick="$('#todoCode61').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 2.2 - přidejte direktivě controller</span></p><div id="todoCode61" style="display:none"><figure class="highlight javascript"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br><span class="line">4</span><br></pre></td><td class="code"><pre><span class="line"><span class="keyword">return</span> &#123;</span><br><span class="line">  controller: tabsetDirectiveController,</span><br><span class="line">  controllerAs: <span class="string">'tabset'</span>,</span><br><span class="line">  ...</span><br></pre></td></tr></table></figure></div>
<h3 id="3_-_Komunikace_mezi_direktivami">3 - Komunikace mezi direktivami</h3><ul>
<li>přidejte do direktivy <strong>tab</strong> závislost na direktivě <strong>tabset</strong>, která se musí vyskytovat v hierarchii</li>
</ul>
<p><span style="float:right"><a href="#" id="todoCode79_button" onclick="$('#todoCode79').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 3.1 - přidejte závislost na tabset</span></p><div id="todoCode79" style="display:none"><figure class="highlight javascript"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line"><span class="built_in">require</span>: <span class="string">'^tabset'</span>,</span><br></pre></td></tr></table></figure></div>
<ul>
<li>přidejte controller jako čtvrtý parametr metody link</li>
<li><p>zavolejte na controlleru metodu <strong>add</strong>, a předejte jí scope</p>
<p><span style="float:right"><a href="#" id="todoCode93_button" onclick="$('#todoCode93').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 3.2 - komunikace s direktivou tabset</span></p><div id="todoCode93" style="display:none"><figure class="highlight javascript"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br></pre></td><td class="code"><pre><span class="line">link: <span class="function"><span class="keyword">function</span>(<span class="params">scope, element, attrs, tabsetController</span>) </span>&#123;</span><br><span class="line">  tabsetController.add(scope);</span><br><span class="line">&#125;</span><br></pre></td></tr></table></figure></div>
</li>
<li><p>pokud komunikace funguje, objeví se v logu informace o přidání panelů</p>
</li>
</ul>
<h3 id="4_-_Oživení_tlačítek">4 - Oživení tlačítek</h3><ul>
<li>prohlédněte si controller, všimněte si pole <strong>this.tabs</strong> a obsahu jeho metod <strong>add</strong> a <strong>select</strong></li>
<li>podívejte se také na šablonu <strong>tabset.html</strong> a vzpomeňte si na implementaci tabů v directive-01</li>
<li>zopakujte tlačítko pro pole tabů v <strong>this.tabs</strong>, iterovanou položku pojmenujte <strong>tab</strong></li>
</ul>
<p><span style="float:right"><a href="#" id="todoCode107_button" onclick="$('#todoCode107').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">&nbsp;</span></p><div id="todoCode107" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br><span class="line">4</span><br><span class="line">5</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">ng-repeat</span>=<span class="value">"tab in tabset.tabs"</span></span><br><span class="line">        <span class="attribute">type</span>=<span class="value">"button"</span></span><br><span class="line">        <span class="attribute">ng-class</span>=<span class="value">"&#123;active : tab.active&#125;"</span></span><br><span class="line">        <span class="attribute">ng-click</span>=<span class="value">"tabset.select(tab)"</span></span><br><span class="line">        <span class="attribute">class</span>=<span class="value">"btn btn-default"</span>&gt;</span>&amp;nbsp;&#123;&#123;tab.header&#125;&#125;&amp;nbsp;<span class="tag">&lt;/<span class="title">button</span>&gt;</span></span><br></pre></td></tr></table></figure></div>
<ul>
<li>pokud jste použili správný název controlleru a prvku, zobrazí se tlačítka a můžete komponentu vyzkoušet</li>
</ul>
<h2 id="EXTRA">EXTRA</h2><h3 id="5_-_Připravte_callback_on-change_pro_direktivu_tabset">5 - Připravte callback on-change pro direktivu tabset</h3><ul>
<li>Do definice scope direktivy <strong>tabset</strong> přiřaďte možnost předat callback <strong>on-change</strong></li>
</ul>
 <p><span style="float:right"><a href="#" id="todoCode115_button" onclick="$('#todoCode115').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 5.1 - umožněte předání callbacku</span></p><div id="todoCode115" style="display:none"><figure class="highlight javascript"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br></pre></td><td class="code"><pre><span class="line">scope: &#123;</span><br><span class="line">  onChange: <span class="string">"&amp;"</span></span><br><span class="line">&#125;,</span><br></pre></td></tr></table></figure></div>
<ul>
<li>v <strong>index.html</strong> předejte direktivě <strong>tabset</strong> jako callback <strong>on-change</strong> metodu <strong>info.reportChange()</strong></li>
<li>metoda jako parameter očekává <strong>header</strong> tabu</li>
</ul>
 <p><span style="float:right"><a href="#" id="todoCode121_button" onclick="$('#todoCode121').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 5.2 - předejte callback</span></p><div id="todoCode121" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line"><span class="tag">&lt;<span class="title">tabset</span> <span class="attribute">on-change</span>=<span class="value">"info.reportChange(header)"</span>&gt;</span></span><br></pre></td></tr></table></figure></div>
<ul>
<li>v metodě <strong>select</strong> zavolejte callback, jako parametr <strong>header</strong> jí předejte <strong>tab.header</strong></li>
</ul>
 <p><span style="float:right"><a href="#" id="todoCode126_button" onclick="$('#todoCode126').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 5.3 - zavolejte callback onchange</span></p><div id="todoCode126" style="display:none"><figure class="highlight html"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line">$scope.onChange(&#123;header: tab.header&#125;);</span><br></pre></td></tr></table></figure></div>
<ul>
<li>při změně tabu se nyní bude pod taby zobrazovat informace o vybraném tabu</li>
</ul>
<h3 id="6_-_Připojte_obsah_scope_na_controller">6 - Připojte obsah scope na controller</h3><p> Když si nyní prohlédnete controller directivy tabset, vidíte, že některá vlastnosti jsou na controlleru, jíné na <strong>$scope</strong>.<br> Toto rozdvojení nyní sjednotíme bindováním vlastností do controlleru. </p>
<ul>
<li>v definičním objektu <strong>tabset</strong> přesuňte obsah vlastnosti <strong>scope</strong> do vlastnosti <strong>bindToController</strong> </li>
<li>ve scope musí ale pořád zůstat izolovaný nebo zděděný scope</li>
<li>upravte použití v controlleru z <strong>$scope</strong> na <strong>this</strong> </li>
</ul>
<p><span style="float:right"><a href="#" id="todoCode131_button" onclick="$('#todoCode131').toggle();return false">Zobrazit řešení ...</a></span><span style="color:gray;font-family: monospace; font-size:13pt">TODO 6.1 - použijte bindToController</span></p><div id="todoCode131" style="display:none"><figure class="highlight javascript"><table><tr><td class="gutter"><pre><span class="line">1</span><br><span class="line">2</span><br><span class="line">3</span><br><span class="line">4</span><br></pre></td><td class="code"><pre><span class="line">scope: &#123;&#125;,</span><br><span class="line">bindToController: &#123;</span><br><span class="line">  onChange: <span class="string">"&amp;"</span></span><br><span class="line">&#125;,</span><br></pre></td></tr></table></figure>    

<figure class="highlight javascript"><table><tr><td class="gutter"><pre><span class="line">1</span><br></pre></td><td class="code"><pre><span class="line"><span class="keyword">this</span>.onChange(&#123;header: tab.header&#125;);</span><br></pre></td></tr></table></figure></div>

      
    </div>
    <!--<footer>-->
      <!---->
        <!---->
        <!---->
        <!---->
      <!---->
      <!--<div class="clearfix"></div>-->
    <!--</footer>-->
  </div>
</article>

<!--
<section id="comment">
  <h1 class="title">留言</h1>

  
      <div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=123456789012345";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-comments" data-href="http://yoursite.com/todo/directive-03/index.html" data-num-posts="5" data-width="840" data-colorscheme="light"></div>
      
  
</section>
-->
</div></div>
    <aside id="sidebar" class="alignright">
  <ul>
  
</ul>


<div class="widget tag">
  <h3 class="title">Cvičení</h3>
  <ul class="entry">
    
    <li><a href="/todo/javascript-01/">javascript-01</a></li>
    
    <li><a href="/todo/templates-01/">templates-01</a></li>
    
    <li><a href="/todo/templates-02/">templates-02</a></li>
    
    <li><a href="/todo/controller-01/">controller-01</a></li>
    
    <li><a href="/todo/controller-02/">controller-02</a></li>
    
    <li><a href="/todo/scope-01/">scope-01</a></li>
    
    <li><a href="/todo/controller-03/">controller-03</a></li>
    
    <li><a href="/todo/di-01/">di-01</a></li>
    
    <li><a href="/todo/di-01-unitTesting/">di-01-unitTesting</a></li>
    
    <li><a href="/todo/di-02/">di-02</a></li>
    
    <li><a href="/todo/directive-01/">directive-01</a></li>
    
    <li><a href="/todo/directive-02/">directive-02</a></li>
    
    <li><a href="/todo/directive-03/">directive-03</a></li>
    
    <li><a href="/todo/directive-04/">directive-04</a></li>
    
    <li><a href="/todo/filter-01/">filter-01</a></li>
    
    <li><a href="/todo/filter-02/">filter-02</a></li>
    
    <li><a href="/todo/form-01/">form-01</a></li>
    
    <li><a href="/todo/router-01/">router-01</a></li>
    
    <li><a href="/todo/resource-01/">resource-01</a></li>
    
    <li><a href="/todo/animate-01/">animate-01</a></li>
    
    <li><a href="/todo/auth-01/">auth-01</a></li>
    
    <li><a href="/todo/auth-02/">auth-02</a></li>
    
  </ul>
</div>


</aside>
    <div class="clearfix"></div>
  </div>
  <footer id="footer" class="inner"><div class="alignleft">
  
  &copy; 2015 www.angular.cz
  
</div>
<div class="clearfix"></div></footer>
  <script src="/todo/js/jquery.min.js"></script>
<script src="/todo/js/jquery.imagesloaded.min.js"></script>
<script src="/todo/js/gallery.js"></script>




<link rel="stylesheet" href="/todo/fancybox/jquery.fancybox.css" media="screen" type="text/css">
<script src="/todo/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
(function($){
  $('.fancybox').fancybox();
})(jQuery);
</script>

</body>
</html>